#title {
    font-size: 25px;
    color:brown;
    text-align: center;
}
#content {
    font-size: 20px;
    text-align: left;
    margin: 50px 20px 20px 20px;
}
#header {
    background-color: brown;
    text-align: center;
    padding: 30px;
    color: white;
    font-family: cursive;
    font-size: 35px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: grid;
    color: brown;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

li a:hover {
    color: gray;
}

footer {
    text-align: left;
    padding: 3px;
    background-color:peachpuff;
    color: black;
}
